<div class="mainContainer products">
    <div class="container">
        <h1>Product Technologies</h1>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="#/products_wire" class="btn btn-primary btn-lg btn-block">Wire Harness Product Information</a>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Stand Alone &amp; Part Of Assemblies
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Safety Critical Harnesses</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Overmolded Harnesses</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Fuel & Oil Systems-Compatible Products</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Ribbon Cable Capability</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Braided Cable Capability</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Multi-branch Harnesses</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <a ng-href="#/products_actuator" class="btn btn-primary btn-lg btn-block">Actuators Product Information</a>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Latching and Locking
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Multi-State</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Proportional</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Motion Control with positional feedback</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Multi-functional Activations</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Linear and Rotational and mixed</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <a ng-href="#/products_switches" class="btn btn-primary btn-lg btn-block">Switches Product Information</a>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Low Current & High Current</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Micro-Switch & Tact Switch</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Switch Cell technology</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Contact & Non-Contact</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Class A Decorative Surface Processing</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Ergonomic & Hidden</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>PCB-Based Switches & Contacts</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Wiring Integrated (direct & connection)</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="#/products_motors" class="btn btn-primary btn-lg btn-block">Motors Product Information</a>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Brush Type DC</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Brushless DC</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>AC Inductance</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Current Transformers</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Winding / Assembly</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Lamination Stacks</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Wound and Formed Coil Assemblies</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Rotor Assemblies</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Stator Assemblies</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Brush Sub-Assemblies</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <a ng-href="#/products_lighting" class="btn btn-primary btn-lg btn-block">Lighting Product Information</a>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Incandescent and LED</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Halogen</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Interior Passenger & Storage Compartment Lamps</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Trunk & Powertrain Compartment Lamps</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Aircraft Cargo and Service Compartment Lighting</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Sealed and Hi/Low Temp Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <a ng-href="#/products_solenoids" class="btn btn-primary btn-lg btn-block">Solenoids Product Information</a>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Symmetric & Asymmetric </li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Immersed & Dry Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Transmission & Engine Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Ignition Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Latching & Locking Applications</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Relays</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Integrated Valves</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="#/products_sensors" class="btn btn-primary btn-lg btn-block">Sensors Product Information</a>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Position / Velocity (linear & angular)</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Temperature</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Pressure</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <i><b>Applications</b></i>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
